<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Barberi</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list class="custom-group">
    <h2 class="head-title">Vyberte si barbera</h2>
    <ion-item *ngFor="let barber of barbers" (click)="selectBarber(barber.barber_id)" class="custom-item">
      <ion-label class="title">{{ barber.name }}</ion-label>
      <ion-icon name="arrow-forward-outline" class="custom-arrow"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
