<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/barbers" class="custom-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Termíny</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-item class="custom-item">
    <ion-datetime
      [value]="selectedDate"
      (ionChange)="onDateChange($event)"
      presentation="date"
      [isDateEnabled]="isWeekday"
      [firstDayOfWeek]="1"
    ></ion-datetime>
  </ion-item>

  <h2 class="head-title">Dostupné termíny</h2>

  <ion-text *ngIf="!isWeekday(selectedDate)" color="danger" class="ion-text-center">
    <h2>Cez víkend zatvorené!</h2>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let time of appointments">
        <ion-card class="custom-card" (click)="bookAppointment(time)">
          <ion-card-content class="center-content">
            <div>{{ time }}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
